
ul li:nth-child(3n) {
color: deeppink;
    }

article :last-child{
    font-weight: bold;
}
a:visited{
    color: red;
}

a:hover, a:focus{
  color: deeppink;  
}
h2::first-letter{
    color: red;
}
P.FIRST::first-letter{
    color: aqua;
}
P::selection{
    background-color: bisque;
}